@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital@0;1&display=swap');


.work-sans {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.display-flex {
    display: flex;
}

main>section {
    margin: 7.5rem 0;
}

header {
    background-color: rgba(255, 144, 14, 0.1);
    padding-bottom: 1.25rem;
}

.navbar {
    max-width: 1452px;
    margin: 0 auto;
}

.banner,
.team-section,
.love-and-enjoy,
.sponsor, footer {
    max-width: 90rem;
    margin: 0 auto;

}

.team-section {
    padding: 7.5rem 0;
}

.navbar {
    align-items: center;
    justify-content: space-between;
    padding: 4rem 0;
}

.navbar .section-title {
    font-size: 2.81rem;
    font-weight: 700;
    color: rgba(19, 19, 19, 1);
}

ul .nav-items {
    list-style: none;
    margin-right: 1rem;

}

ul .nav-items .nav-links {
    text-decoration: none;
    color: #424242;
}


.banner-content {
    max-width: 53.12rem;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 3.12rem;
}

.banner-content .banner-title {
    font-size: 4rem;
    font-weight: 700;
    color: rgba(19, 19, 19, 1);
    margin-bottom: 1rem;
}

.content-para {
    color: rgba(114, 114, 114, 1);
    margin-bottom: 2rem;
}

.primary-btn {
    background-color: rgba(255, 144, 14, 1);
    font-size: 1.25rem;
    font-weight: 600;
    padding: 1.25rem 1.56rem;
    border: none;
    cursor: pointer;
    border-radius: .5rem;
}

.banner-image {
    max-width: 100%;
}

/* team section style start  */
.team-section .image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;

}

.team-section {
    align-items: center;
}

.team-content {
    margin-left: 4.56rem;
    max-width: 33.12rem;
}

.team-content .quick {
    font-size: 2.81rem;
    font-weight: 500;
    color: #727272;
}

.team-content .our {
    font-size: 2.81rem;
    font-weight: 700;
    color: rgba(19, 19, 19, 1);
}

.team-content .feature {
    font-size: 2.81rem;
    font-weight: 700;
    color: #FF900E;
}

.team-content-title {
    margin-bottom: 1.5rem;
}

/* fact style start  */
.some-facts .fact-title {
    font-size: 2.81rem;
    font-weight: 700;
    color: rgba(19, 19, 19, 1);
    margin-bottom: 1.5rem;
}

.some-facts .fact-para {
    color: rgba(114, 114, 114, 1);
    max-width: 33.75rem;
    margin-bottom: 3rem;
}

.fact-number {
    font-size: 2.81rem;
    font-weight: 600;
    color: rgba(66, 66, 66, 1);
    margin-bottom: .3rem;
}

.fact-message {
    font-size: 1.25rem;
    font-weight: 600;
    color: rgba(114, 114, 114, 1);
}

.fact-card {
    text-align: center;
    padding: 2.5rem;
    border: 1px solid rgba(255, 144, 14, 1);
    border-radius: 8px;
    width: 241px;
}

.fact-card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.some-facts {
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 7.5rem;
}


.love-title {
    font-size: 2.81rem;
    font-weight: 700;
    color: #131313;
    margin-bottom: .7rem;
}

.love-para {
    color: #727272;
    margin-bottom: 3rem;
}

.love-card h3 {
    font-size: 1.25rem;
    font-weight: 600;
    color: #131313;
    margin-bottom: .5rem;
}

.love-card p {
    color: #727272;

}

.love-card {
    padding: 2rem;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 1);
    border-radius: 8px;
    margin-bottom: .9rem;
    max-width: 31rem;
}

.love-and-enjoy {
    display: flex;
    gap: 8.87rem;

}

#primary-btn {
    padding: 4rem 3rem;
    margin-top: -6.25rem;
    margin-left: -6.25rem;
}

.ten-year {
    font-size: 2.81rem;
    font-weight: 700;
    color: white;
}

.experi {
    font-size: 1rem;
    font-weight: 600;
    color: white;
}

.sponsor {
    text-align: center;
    margin-bottom: 8rem;
}

.sponsor-content{
    max-width: 33rem;
    margin: 0 auto;
    margin-bottom: 3rem;
}

.sponsor-title{
    font-size: 2.81rem;
    font-weight: 700;
    color: #131313;
    margin-bottom: 1.25rem;
}
.sponsor p{
    color: #727272;
}

.sponsor-card{
    display: grid;
    gap: 1.25rem;
    grid-template-columns: repeat(5, 1fr);
    
}
.sponsor-card img{
    filter: grayscale(100%);
}
footer{
    margin-bottom: 10rem;
}
.footer p{
    text-align: center;
    padding: 1.25rem 0;

}
.footer{
    background-color: #FFF4E7;
    max-width: 1440px;
    margin: 0 auto;
}
/* team section style end */


/* responsive for small device  */
@media screen and (max-width: 576px) {

    .navbar,
    ul {
        flex-direction: column;
        gap: .5rem;
    }

    .team-section {
        flex-direction: column;
    }

    .team-section .image-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .team-content {
        margin-left: .56rem;
        margin: 0 auto;
    }

    .image-container img {
        max-width: 100%;
    }

    .fact-card-container {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }

    .love-and-enjoy {
        flex-direction: column;
    }

    .love-image img {
        width: 100%;
    }

    #primary-btn {
        margin-top: 1.25rem;
        margin-left: 1.25rem;

        margin-bottom: 3rem;
    }

    .love-card {
        padding: .5rem .5rem;
        margin: 0 .5rem;
    }

    .sponsor-card{
        grid-template-columns: repeat(1, 1fr);
    }
    .sponsor{
        justify-items: center;
    }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
    .team-section {
        flex-direction: column;
    }

    .team-content {
        margin-left: .56rem;
        margin-top: 1.25rem;
    }

    .fact-card-container {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }

    .love-and-enjoy {
        flex-direction: column;
    }

    #primary-btn {
        margin-top: 1.25rem;
        margin-left: 1.25rem;

        margin-bottom: 3rem;
    }

    .love-card {
        padding: .5rem .5rem;
        margin: 0 .5rem;
        margin-bottom: 1.25rem;
    }
     .sponsor-card{
        grid-template-columns: repeat(3, 1fr);
    }
    .sponsor{
        justify-items: center;
    }
}